<div class="modal_wrapper" *ngIf="modalInfo.isOpen">
  <div class="modal_content">
    <header class="modal_header">
      <div></div>
      <strong>{{ modalInfo.title }}</strong>
      <button (click)="modalService.onClose()">
        <img src="../../../../assets/icons/close.png" alt="close">
      </button>
    </header>
    <section
      class="modal_section"
      [innerHtml]="modalInfo.message"
    >
    </section>
    <footer class="modal_footer">
      <button (click)="modalService.onClose()">{{ modalInfo.label }}</button>
    </footer>
  </div>
</div>
