<div class="artist_wrapper">
  <div *ngIf="!loading && artist; else loadComponent">
    <header class="artist_header">
      <a href="/" class="return_button">
        <img src="../../../assets/icons/back.png" alt="return">
      </a>
      <div class="artist_bio">
        <img [src]="artist.images[0].url" [alt]="artist.name">
        <strong>{{ artist.name }}</strong>
      </div>
      <div class="artist_score">
        <strong>Can you guess all albums?</strong>
        <strong>{{ this.game.score }}/{{ this.game.total }}</strong>
      </div>
      <div class="timer_showcase">
        <img src="../../../../assets/icons/timer.png" alt="timer">
        <strong>{{ this.game.timeLeft | time }}</strong>
      </div>
    </header>

    <section class="artist_section">
      <ul class="artist_grid">
        <app-form
          *ngFor="let album of albums"
          [album]="album"
          [gameOver]="this.game.isOver"
        >
        </app-form>
      </ul>
    </section>
  </div>

  <ng-template #loadComponent>
    <app-loader></app-loader>
  </ng-template>
</div>
