<header class="home_header">
  <div></div>
  <app-search></app-search>
  <nav class="home_nav">
    <button (click)="onInfoButtonClick()">
      i
    </button>
    <a
      href="https://developer.spotify.com/documentation/web-api/"
      target="_blank"
    >
      <img src="../../../assets/icons/spotify.png" alt="spotify icon">
    </a>
  </nav>
</header>

<section class="home_section" *ngIf="!loading; else loadComponent">
  <h1>Popular in your region</h1>

  <ul class="home_grid">
    <li *ngFor="let artist of artists">
      <app-card [artist]="artist"></app-card>
    </li>
  </ul>
</section>

<ng-template #loadComponent>
  <app-loader></app-loader>
</ng-template>
