@import '../../../styles/theme.scss';

.form_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  height: 350px;
  width: 280px;

  background-color: $white;
  color: $black;
  padding: 16px;
  border-radius: 4px;

  img {
    height: 248px;
    width: 248px;

    border-radius: 4px;
    object-fit: cover;
    margin: 0;

    filter: blur(4px);

    &.is_correct {
      filter: blur(0px);
    }

    &.is_incorrect {
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%) blur(0px);
    }
  }
}

.form_field {
  width: 100%;
  margin-top: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  input {
    width: 100%;
    height: 28px;

    background-color: $white;
    border-bottom: 2px solid $black;

    font-size: 14px;
    padding: 0 10px;
  }

  span {
    font-size: 12px;
    font-weight: 800;
    color: $light-gray;

    margin-top: 10px;
  }
}

.form_answer {
  width: 100%;
  height: 40px;
  margin-top: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
